button {
  background-color: #D98859;
  box-sizing: border-box;
  border: 1px solid #D98859;
  border-radius: 5px;
  text-align: center;
  padding: 7px 13px;
  box-shadow: 7px 5px 7px 1px #00000060;
}
