/* .boxForItems {
  height: 90px;
  width: 90px;
  box-shadow: 1.2px 1.2px 1.2px 1.2px #1a1919;
  cursor: pointer;
  list-style: none;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  display: table;
  font-variant-caps: small-caps;
  font-size: 20px sans-serif;
  overflow: hidden;
  text-align: center;
  padding: 2.5px;
} */
