.App {
  text-align: left;
}

.App-header {
  background: linear-gradient(to bottom right, #9a3b3f, white);
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: #71536b;
  letter-spacing: 1.2rem;
  padding: 30px 50px 20px 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-weight: 100;
}
