.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-variant: small-caps;
}

input[type="text"] {
  background-color: #96b9bd;
  color: rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #5f9684;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  box-shadow: 7px 5px 7px 1px #252222;
}

.boxForItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  padding: 0;
}

