.App {
  text-align: center;
}

.App-header {
  background-color: #213031;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 3vmin);
  color: white;
  letter-spacing: 1rem;
  padding: 0px 80px 0px 92px;
  font-weight: 100;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  background-color: #96b9bd;
  color: rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #5f9684;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  box-shadow: 7px 5px 7px 1px #252222;
}

button {
  background-color: #ebd9fa;
  box-sizing: border-box;
  border: 2px solid #5f9684;
  border-radius: 5px;
  text-align: center;
  padding: 7px 13px 7px 13px;
  box-shadow: 7px 5px 7px 1px #161515;
}

.foodListItems {
  height: 75px;
  width: 75px;
  font-size: small;
  text-align: inherit;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility;
  letter-spacing: normal;
  box-shadow: 1px 1px 1px 1px #161515;
  cursor: pointer;
  background-color: #709094;
  list-style: none;
  text-transform: uppercase;
  border: 1.2px solid #ebd9fa;
}

.boxForItems {
  display: flex;
  border: 10px solid goldenrod;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 3 cal(33.33% -50px);
}
