.container {
  margin: 20px 20px 20px 20px;
}

.wrapper {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: left;
  gap: 8rem;
  float: left;
}
.foodlistitem {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 20%;
}

.foodbuttonlist {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex: left;
  float: left;
}
